.buttonWrapper {
    display: flex;
    gap: 10px;
}

.btn {
    padding: 4px;
    border-radius: 6px;
    border: 1px solid #000000;
    text-transform: capitalize;

    &:hover,
    &:focus {
        background-color: rgb(35, 149, 207);
    }

    &:active {
        background-color: rgb(35, 149, 207);
    }
}